.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;

  .icon-logo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
  }

  .created-by{
    display: flex;
    justify-content: center;
    background-color: #dae0e5;
    color: #333;

    p{
      margin: auto !important;
    }
  }
}